<h1>退会確認画面</h1>

<h2><%= @user.name %>さん、本当に退会しますか？</h2>
<p>退会してしまうと、自身がこれまで投稿したレビューや<br>
   ブックマークした投稿が確認できなくなります。<br>
    退会される場合は、退会ボタンを押してください。</p>
    
    
<%= link_to "退会しない", mypage_path %>
<%= link_to users_withdraw_path(current_user.id), method: :patch, "data-confirm" => "本当に削除しますか？" do %>
 退会する
<% end %>