<div class = "card h-25 col-sm-11 col-lg-5 mt-4 ml-3 mb-4 mx-auto">
<p class= "card-header">タグ検索</p>
 <div class= "card-body">
  <% if flash[:tag_alert].present? %>
   <div class= "alert alert-danger" role="alert">
    <%= flash[:tag_alert] %>
   </div>
  <% end %>
  <div class= "search_form" >
   <%= form_with url: tagsearches_search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word, autofocus: true, class: "form-control" %>
    <%= f.submit "検索", class: "btn btn-primary mt-2" %>
   <% end %>
  </div>
 </div>
</div>