<div class= "container">
 <% if flash[:alert].present? %>
  <% flash.each do |key, value| %>
   <div class= "alert alert-danger mt-2 mb-2" role= "alert">
    <%= content_tag :div, value, class: "flash #{key}" %>
   </div>
  <% end %>
 <% else %>
  <% flash.each do |key, value| %>
   <div class= "alert alert-success mt-2 mb-2" role= "alert">
    <%= content_tag :div, value, class: "flash #{key}" %>
   </div>
  <% end %>
 <% end %>

 <div class= "row">
  <div class= "row mt-4 mb-2 ml-3">
   <h2><i class="fa-solid fa-user mr-2"></i><%= @user.name %>さんのマイページ</h2>
  </div>
 </div>
 <%= render "user", user: @user, posts: @posts %>
 </div>